body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #eee;
}


.btn {
  position: fixed;
  top:50%;
  left: 45%;
  background-color: transparent;
  padding: 1rem 2rem;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

.btn:hover {
  border: solid 1px teal;
  border-radius: 50px;
  background-color: white;
  color: teal;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.btn:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.display {
  display: block;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.5s
}

@keyframes animatetop {
  from {opacity: 0; scale: 0.5; top: 30rem;}
  to {opacity: 1; scale: 1; top: 0;}
}

.btn-close {
  color: #888;
  float: right;
  font-size: 2.8rem;
  font-weight: bold;
}

.btn-close:hover, .btn-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal-header {
  padding: 2px 16px;
  background-color: teal;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: teal;
  color: white;
}

*,*::after,*::before {
  box-sizing: inherit;
}