html, body {
  margin: 0;
  max-width: 100%;
  background: #eef6f6;
}

img {
  width: 100%;
}

.diy-jumbotron {
  margin-top: 2em;
  max-width: 90%;
}

.navbar {
  background: #eef6f6;
}

.standalone-btn {
  margin-right: .5em;
  margin-left: .5em;
}

.notes-form-btn {
  margin-top: .5em;
}

.nav.nav-pills .nav-link {
  background-color: #eef6f6;
  color: #06253e;
}

.nav.nav-pills .nav-link.active {
  background-color: #06253e;
  color: #eef6f6;
}

.profile-card {
  margin-top: 2em;
  margin-bottom: 2em;
}

.building-row {
  padding-bottom: 2em;
}

.sort-bar {
  padding-bottom: 2em;
}

.email-field {
  padding-top: 1em;
  padding-bottom: 1.5em;
}

.resources-list {
  list-style-type: none;
}

.footer {
  padding-top: 3em;
}

.card-close-icon { 
  color:grey;
  float: right;
}

.card-close-icon:hover { 
  color:black;
  cursor: pointer;
}
