/* entire app */
html,
body {
  background: #eef6f6;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* end of entire app */

/* navbar section */
.navbar {
  background: white;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 15%;
  text-align: center;
}

.navbar-brand {
  margin-left: 1em;
}

.navbar-toggler {
  margin-right: 1em;
}

.navbar .nav-link,
.navbar-text {
  color: black !important;
  border-radius: 10%;
}

.navbar .nav-link:hover {
  background: #eef6f6;
}

.navbar .nav-link.active {
  font-weight: 700;
}

.navbar .nav-link.logout:hover {
  color: red !important;
  background: none;
}
/* end of navbar section */

/* entire pages below navbar, above footer*/
.all-pages {
  margin-top: 2em;
  margin-bottom: 0em;
  flex: 1;
}

.diy-jumbotron {
  max-width: 90%;
}
/* end of entire pages, above footer */

/* pills pages - navigation */
.nav.nav-pills {
  margin-bottom: 1em;
}

.nav.nav-pills .nav-link {
  background-color: #eef6f6;
  color: #06253e;
  border: 2px solid rgba(6, 37, 62, 0.1);
}

.nav.nav-pills .nav-link:hover {
  font-weight: 700;
}

.nav.nav-pills .nav-link.active {
  background-color: #06253e;
  color: #eef6f6;
  font-weight: 700;
}

.building-row {
  padding-bottom: 2em;
}
/* end of pills pages - navigation */

/* pills pages - sort misc fields */
.sort-bar {
  padding-bottom: 2em;
}
/* end of pills pages - sort misc fields */

/* pills pages - building cards and info windows */
.address-phone-block {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.first-phone-num {
  margin-top: 0.5em;
  margin-bottom: 0em;
}

.table {
  margin-top: 0.5em;
  margin-bottom: 0em;
}
/* pills pages - end of building cards and info windows */

/* footer */
.footer-img {
  width: 100%;
}

.footer {
  padding-top: 1em;
}

.footer-nav-link-custom {
  color: black;
  text-decoration: none;
}

.footer-nav-link-custom:hover,
.footer-nav-link-custom:active {
  text-decoration: underline;
}
/* end of footer */

/* misc */
.break-line-light {
  color: lightblue;
}

.delete-account:hover {
  color: red !important;
}

.diy-font-italic {
  font-style: italic;
}

.diy-outline-info-button {
  color: #17a2b8;
  border-color: #17a2b8 !important;
  background: none !important;
}

.diy-outline-info-button:hover,
.diy-solid-info-button {
  color: white;
  background: #17a2b8 !important;
  border-color: #51b7c8 !important;
}
.diy-outline-info-button:active,
.diy-solid-info-button:hover,
.diy-solid-info-button:active {
  color: white;
  background: #148596 !important;
  border-color: #127a8b !important;
}

.scrollable-card {
  overflow-y: auto;
  max-height: 400px;
}

.listing-card {
  background: rgb(255, 255, 37);
}

.badge-top {
  position: relative;
  top: -0.5em;
  left: -0.25em;
}
/* end of misc */
