body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
}

.jumbotron {
  background: none;
}

.navbar {
  color: #0e365d;
  background: #bceeeb;
}

.standalone-btn {
  margin: .5em;
  outline: #f47591;
}

.nav-buttons {
  margin-right: auto;
}

.buildings-list {
  height: 70vh;
}

.btn-group-btn {
  margin: none;
}

.saved-homes-header {
  margin-top: 4em
}

.nav.nav-pills .nav-link {
  background-color: white;
  color: #06253e;
}

.nav.nav-pills .nav-link.active {
  background-color: #06253e;
  color: white;
}

.profile-email {
  padding: 2em;
}

.building-row {
  padding-bottom: 2em;
}

.sort-bar {
  padding-bottom: 2em;
}

.col-no-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.emailField {
  padding-top: 1em;
  padding-bottom: 1.5em
}

.saved-homes-empty {
  padding-top: 3em;
  padding-bottom: 4em
}

.btn-save-building-card {
  padding: none;
  margin: none;
}

.resources-list {
  list-style-type: none;
}
